.chooseTrack  .MuiPagination-ul li .Mui-selected{
    background-color: rgb(35, 35, 214);
    color: white;
}
.chooseTrack .headTitle h1{
    background: linear-gradient(270deg, rgba(9, 9, 121, 0.832) 50%, rgba(57, 202, 231, 0.506) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.card{
    box-shadow: 0 0 5px #93c5fd;
}
.card:hover{
    box-shadow: 0 0 14px #89bffc;
}