.btns button {
    border-radius: 100px;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }

.btns button:hover {
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
  }