@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1350px; /* العرض الأقصى */
  margin: 0 auto; /* التوسيط أفقياً */
  padding: 0 16px; /* حواف داخلية */
}

/* Card   المستخدمه  ف كل الموقع */

.card {
  width: 100%;
  height: 245px !important;
  border-radius: 10px;
  cursor: pointer;
  margin: auto;
  text-align: center;
  padding: 20px 10px;
  box-shadow: 0 0 10px #8f56e44e;
  transition: 0.2s ease-in-out;
  background: white;
}
.Levels{
  width: 100%;
   border-radius: 10px;
  cursor: pointer;
  margin: auto;
  text-align: center;
  padding: 30px 10px;
  box-shadow: 0 0 10px #8f56e44e;
  transition: 0.2s ease-in-out;
  background: white;
}
.card:hover, .Levels:hover {
  box-shadow: 0 0 14px #3e066c94;
}
.bg_card {
  margin: auto;
  background-color: rgb(209, 209, 209);
  width: 93px;
  border-radius: 50%;
  height: 90px;
  padding: 5px;
}
  .Levels img {
  margin: auto;
  width: 75px;
  align-items: center;
 
}
.card img{
  margin: auto;
  width: 62px;
  height: 65px;
  align-items: center;
  margin-top: 7px;
}

.card h3, .Levels h3 {
  font-weight: 700;
  color: #4395ad;
  font-size: 18px;
  padding: 8px 0;
}
.card p {
  color: rgb(99, 95, 95);
  font-size: 15px;
}

/* /////////end///////////////////// */

/* home swiper */
.swiper-button-next,
.swiper-button-prev {
  color: #462775 !important;
  font-weight: 800 !important;
  transition: transform 0.2s;
  font-size: 10px !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  transform: scale(1.2);
}

/* تغيير لون Scrollbar الخاص بـ Swiper */
.custom-swiper-scrollbar .swiper-scrollbar {
  background-color: #e0e0e0;
}

.custom-swiper-scrollbar .swiper-scrollbar-drag {
  background-color: #4395ad;
  border-radius: 10px;
}

/*  profile input number */

.react-tel-input .form-control {
  background-color: #8349db34 !important; /* نفس اللون */
  padding: 1.3rem 3rem !important; /* نفس الحواف */
  border-radius: 0.25rem !important; /* نفس الانحناءات */
  width: 100% !important; /* ملء العرض */
  border: none !important; /* إزالة الحدود إذا لم تكن موجودة */
}
